{% extends "Convenio_base.html" %}
{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
{% block content %}

<!--<h1> HOLA MUNDO </h1>-->
<!-- DataTables Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tablas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Escuela</th>
                        <th>Institución</th>
                        <th>Tipo</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Final</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>id</th>
                        <th>Escuela</th>
                        <th>Institución</th>
                        <th>Tipo</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Final</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if object_list %}
                    {% for Convenio in object_list %}
                    <tr>
                        <td>{{Convenio.id}}</td>
                        <td>{{Convenio.escuela}}</td>
                        <td>{{Convenio.institucion}}</td>
                        <td>{{Convenio.tipo}}</td>
                        <td>{{Convenio.fechaInicio}}</td>
                        <td>{{Convenio.fechaFin}}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'Conv_edit' Convenio.id %}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'Conv_delete' Convenio.id %}">Eliminar</a>
                        </td>

                        {% endfor %}
                        {%else %}
                        <h1>No hay registros </h1>
                        {% endif %}
                    </tr>
                </tbody>



            </table>
        </div>
    </div>
</div>
{% endblock%}