{% extends "index.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

{% block opciones%}
<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInstBase" aria-expanded="true"
          aria-controls="collapseInstBase">
          <i class="fas fa-fw fa-cog"></i>
          <span>Operaciones</span>
        </a>
        <div id="collapseInstBase" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Seleccionar:</h6>
            <a class="collapse-item" href="{% url 'instituciones' %}">Consultar</a>
            <a class="collapse-item" href="{% url 'Inst_Form' %}">Registrar</a>
          </div>
        </div>
    </li>
{% endblock %}